body {
    background: black;
}

#container {
    margin: 80px auto;
    width: 80%;
}

#input {
    margin: 10px 7.5%;
}

#info {
    margin: 10px;
}

#submit {
    margin: 10px;
}

#infobox {
    margin-left: 7.5%;
}

.panel-body span {
    color: grey;
    margin: 5px;
}

.panel-body h5 {
    font-weight: bold;
}