body {
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin: 0 10%;
}

main {
    margin-top: 3em;
}

#ttext, #ctext, #ntext {
    width: 33.33%;
    background-color: dimgray;
    color: aliceblue;
}

.input-group-btn button {
    background-color: dimgray;
    color: aliceblue;
}

.li {
    list-style-type: none;
    margin: 2em auto;
    background-color: rgb(30, 30, 30);
    padding: 1em;
    border-radius: 5px;

}

.btn-toolbar, .btn-group {
    margin: 2em auto;
}